{% extends 'nwymc/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
    
    {% block content %}

        <div class="col-lg-1"></div>

        <div class="col-lg-10 col-md-12">

            <h2 class="center">{% translate 'Author: ' %}{{ author }}</h2>
    
            <p>
                <table>
                    <tr>
                        <td>{% translate 'Birth Year' %}</td>
                        <td>
                        {% if author.DOB_y_priv == True %}
                            {% translate 'private information' %}
                        {% else %}
                            {{ author.DOB_y|default_if_none:"living" }}
                        {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>{% translate 'Death Year' %}</td>
                        <td>
                        {% if author.DOD_y_priv == True %}
                            {% translate 'private information' %}
                        {% else %}
                            {{ author.DOD_y|default_if_none:"living" }}
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{% translate 'Alternative Names' %}
                        {% if request.user.permission.level != 'public' %}
                            &nbsp;<a id="AANplusMinus" href="javascript:void(0)" style="color:green;" onclick="AANformShowHide()">+</a>    
                        {% endif %}
                        </td>
                        <td>
                        {% if author.alt_names %}
                            {% for AN in author.alt_names %}
                                {% if forloop.last %}
                                    {{ AN }}
                                {% else %}
                                    {{ AN }}<br>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        -
                        {% endif %}
                        </td>
                    </tr>
                </table>
            </p>
            
            {% if request.user.permission.level != 'public' %}
            <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
            <div id="AANform" style="display:none;">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ AANform|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info btn-block">{% translate 'Submit' %}</button>   
                    </div>  
                </form>   
            </div>    
            </div>    
            </div> 
            {% endif %}
            <hr>
        
            <br>
            <h3>{% translate 'Author Bios' %}
            {% if request.user.permission.level != 'public' %}
                &nbsp;<a id="AABplusMinus" href="javascript:void(0)" style="color:green;" onclick="AABformShowHide()">+</a>
            {% endif %}
            </h3>


            {% if request.user.permission.level != 'public' %}
            <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
            <div id="AABform" style="display:none;">
                <hr>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ AABform|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info btn-block">{% translate 'Submit' %}</button>   
                    </div>  
                </form>
                <hr>   
            </div>    
            </div>   
            </div> 
            {% endif %}
    
            {% if author.bio_objects != None %}
            <p>
                <table>
                    {% for BO in author.bio_objects %}
                    <tr>
                        <td>{{ BO.language }}</td>
                        <td><span id="BioText_{{ forloop.counter }}">{{ BO.bio|linebreaksbr }}</span>  
                            {% if request.user.permission.level == 'worker' or request.user.permission.level == 'admin' %}
                            <div id="editBioForm_{{ forloop.counter }}" style="display:none;">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <fieldset class="form-group">
                                        {{ EABform|crispy }}
                                        <input id="bio_pk" name="bio_pk" type="hidden" value="{{ BO.id }}">
                                    </fieldset>
                                    <div class="form-group" style="text-align:right;">
                                        <button class="btn btn-outline-info btn-sm" type="reset" onclick="EABformShowHide({{ forloop.counter }})">{% translate 'Cancel' %}</button>
                                        <button class="btn btn-outline-info btn-sm" type="submit">{% translate 'Submit' %}</button>
                                    </div>     
                                </form>   
                            </div>   
                            <p id="EABedit_{{ forloop.counter }}" style="width:100%;text-align:right;"><small><button class="btn btn-outline-info btn-sm" onclick="EABformShowHide({{ forloop.counter }})">{% translate 'Edit' %}</button></small></p>
                            {% endif %}    
                        </td>
                    </tr>
                    {% endfor %}
                </table
            </p>
            {% else %}
            <p>{% translate 'No Bios have been defined for this author.' %}       
            {% endif %}
            <hr>
            <br>
            <h3>{% translate 'Contributions' %}</h3>

            {% if author.document_set.all|length > 0 %}
                <table>
                    <tr>
                        <th>{% translate 'Title' %}</th>
                        <th>{% translate 'Year' %}</th>
                        <th>{% translate 'Description' %}</th>
                    </tr>
                    {% for D in author.document_set.all %}
                    <tr>
                        <td><a href="{% url 'nwymc-document-meta' D.id %}">{{ D.title }}</a></td>
                        <td>{{ D.prod_y }}</td>
                        <td>
                            {% if D.description_objects %}
                            <table>
                            {% for DD in D.description_objects %}
                                <tr>
                                    <td>{{ DD.language }}</td>
                                    <td>{{ DD.description }}</td>
                                </tr>
                            {% endfor %}
                            </table>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>{% translate 'No docs have been assigned to this author.' %}</p>
            {% endif %}
    
        </div>
    {% endblock content %}


    
    {% block JSblock %}
        <script>
        function AANformShowHide(){
            var AANlink = document.getElementById('AANplusMinus');
            var AANform = document.getElementById('AANform');   
            if (AANform.style.display == 'none'){
                AANform.style.display = 'block';
                AANlink.innerHTML = '–';    
            }else{
                AANform.style.display = 'none';
                AANlink.innerHTML = '+';    
            }      
        }   
        function AABformShowHide(){
            var AABlink = document.getElementById('AABplusMinus');
            var AABform = document.getElementById('AABform');   
            if (AABform.style.display == 'none'){
                AABform.style.display = 'block';
                AABlink.innerHTML = '–';    
            }else{
                AABform.style.display = 'none';
                AABlink.innerHTML = '+';    
            }      
        }       
        function EABformShowHide(BioNum){
            var EABeditButton = document.getElementById(`EABedit_${BioNum}`);  
            var EABform = document.getElementById(`editBioForm_${BioNum}`);
            var BioDiv = document.getElementById(`BioText_${BioNum}`);  
            if (EABform.style.display == 'none'){
                BioDiv.style.display = 'none';  
                EABform.style.display = 'block';
                EABeditButton.style.display = 'none';
                EABform.childNodes[1].childNodes[3].childNodes[1].childNodes[3].childNodes[1].defaultValue = BioDiv.innerHTML;  
            }else{
                BioDiv.style.display = 'block'; 
                EABform.style.display = 'none';
                EABeditButton.style.display = 'block';  
            }        

        }   
        </script>
    {% endblock JSblock %}
